footer {
  background-color: $footer-color;
  color: $white;
  padding: 2rem;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;
    padding-inline: 5rem;
  }
}

.footer {
  &__logo-container {
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 0;
      order: 2;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    @include tablet {
      flex-direction: row;
      order: 1;
      gap: 1rem;
    }

    &-container-important {
      @include tablet {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 4rem;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  i {
    font-size: 13px;
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: $transition-normal;

    &.text-important {
      font-weight: 500;
    }

    &:hover {
      background: linear-gradient(
        193.33deg,
        $primary-color -11.44%,
        $secondary-color 123.93%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      transform: translateX(5px);
      @include tablet {
        transform: translateX(0);
      }
    }
  }
}
