// =============================================================================
// HOME PAGE STYLES - OhMyFood Project
// =============================================================================

@use '../base/variables' as *;
@use '../utils/mixins' as *;
@use '../components/composants' as *;

body {
  padding-top: calc(var(--total-header-height) + 1.5rem);
}

.homepage {
  section:not(.home-section) {
    @include padding-section;
  }
}

// Home section
.home-section {
  background-color: $background-color;
  @include flex-center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding: 20px;
  margin-top: calc(-1 * (var(--total-header-height) + 1.5rem)); // Remonte jusqu'en haut
  padding-top: calc(var(--total-header-height) + 1.5rem + 20px); // Compense le margin-top négatif
  padding-bottom: 3.5rem;

  h2 {
    padding-inline: 2rem;
    font-size: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);

    @include tablet {
      font-size: 40px;
    }
  }

  p {
    margin-bottom: 0.7rem;
  }
}

// Functioning section
.functioning {
  &__list {
    @include flex-column;
    gap: 1.5rem;
    margin-top: 1.5rem;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  .badge-number {
    @extend .badge-number;
  }

}

//Restaurants section
.restaurants {
  background-color: $background-color;

  .btn--heart {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &__list {
    @include flex-column;
    gap: 1.5rem;
    margin-top: 1.5rem;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  &__item {
    @extend .card--restaurant;
  }
}