// =============================================================================
// MIXINS - OhMyFood Project
// =============================================================================

@use '../base/variables' as *;

// Flexbox mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin padding-section {
  padding: 3rem 1.5rem;

  @include tablet {
    padding-block: 3rem;
    padding-inline: clamp(1.5rem, -8.2414rem + 20.2683vw, 10rem);
  }
}



// Responsive mixins
@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}